* {
  margin: 0;
  padding: 0;
}

html, body, .bg {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
    background-image: url('../img/Landscape.jpg');
    background-size: cover;
  }

.kitty {
  content: url('../img/kitten-large.png');
  width: 30%;
}


@media (max-width: 1024px) {
  .bg {
      background-image: url('../img/dawn.png');
      background-size: cover;
    }

  .kitty {
    content: url('../img/kitten-medium.png');
    width: 30%;
  }
}

@media (max-width: 768px) {
  .bg {
      background-image: url('../img/dawn.png');
      background-size: cover;
    }

  .kitty {
    content: url('../img/kitten-small.png');
    width: 100%;
  }
}

@media (max-width: 480px) {
  .bg {
      background-image: url('../img/maxresdefault.jpg');
      background-size: cover;
    }

  .kitty {
    content: url('../img/kitten-small.png');
    width: 100%;
  }
}